.homeHero{
    padding-top: 7rem;
    .svg{
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        z-index: -1;
        @media(max-width: 991.98px) {
            top: 5rem;
        }
    }
    &__content{
        position: relative;
        @include flexCenter;
        padding-top: 8rem;
        @media (max-width: 991.98px) {
            flex-direction: column;
            padding-top: 3rem;
        }
        @media (min-width: 992px) and (max-width: 1299.98px) {
            padding-top: 4rem;
        }
        @media (min-width: 1300px) and (max-width: 1531.98px){
            padding-top: 5rem;
        }
        &__left{
            width: 50%;
            padding-left: 2rem;
            @media(max-width: 991.98px) {
                width: 100%;
                padding-left: 0;
            }
            h1{
                font-size: 3rem;
                font-weight: 700;
                color: $chocolate;
                @media (max-width: 575.98px) {
                    font-size: 2.5rem;
                }
            }
            h2{
                font-size: 1rem;
                line-height: 1.5rem;
                padding: 2rem 0; 
            }
            img{
                width: 18.0625rem;
                height: auto;
                margin-left: -7rem;
                @media (max-width: 575.98px) {
                    margin-left: 0;
                }
                @media (min-width: 576px) and  (max-width: 991.98px) {
                    margin-left: 0;
                }
                @media (min-width: 992px) and (max-width: 1299.98px) {
                    margin-left: -5rem;
                }
                @media (min-width: 1300px) and (max-width: 1531.98px){
                    margin-left: -5rem;
                }
            }
        }
        &__right{
            width: 50%;
            @media (max-width: 991.98px) {
                width: 100%;
            }
            img{
                width: 35.6875rem;
                height: auto;
                @media (max-width: 575.98px) {
                    width: 100%;
                }
                @media (min-width: 576px) and  (max-width: 991.98px) {
                    width: 100%;
                }
            }
        }
    }
}

.story{
    background-image: url('../img/story-bg.png');
    @include bgCover;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 0;
    &__content{
        @include flexCenter;
        @media (max-width: 991.98px) {
            flex-direction: column;
        }
        &__text{
            @include flexCenter;
            flex-direction: column;
            text-align: center;
            width: 40rem;
            @media (max-width: 575.98px) {
                width: 100%;
            }
            @media (max-width: 991.98px) {
                margin-bottom: 1rem;
            }
            h2{
                color: $white;
                font-size: 2rem;
                font-weight: 700;
            }
            p{
                color: $white;
                font-size: 1rem;
                font-weight: 500;
            }
        }
        a{
            background-color: $gray;
        }
    }
}

.shop{
    margin-bottom: 2rem 0;
    &__content{
        @include flexBetween;
        @media (max-width: 991.98px) {
            flex-direction: column;
        }
        img{
            width: 44.1875rem;
            height: auto;
            border-radius: 0.25rem;
            @media (max-width: 575.98px) {
                width: 100%;
            }
            @media (max-width: 991.98px) {
                margin-bottom: 2rem;
            }
        }
        &__text{
            padding: 0 5rem;
            @media (max-width: 991.98px) {
                padding: 0 3rem;
            }
            @media (max-width: 575.98px) {
                padding: 0 1.5rem;
            }
            h2{
                color: $chocolate;
                font-size: 3rem;
                font-weight: 700;
                @media (max-width: 575.98px) {
                    font-size: 2.5rem;
                }
            }
            p{
                font-size: 1rem;
                margin: 2rem 0;
            }
        }
    }
}

.best{
    position: relative;
    @media (max-width: 991.98px) {
        margin-top: 5rem;
    }
    .svg{
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        z-index: -1;
        @media(max-width: 991.98px) {
            top: auto;
            bottom: 0;
        }
    }
    &__content{
        position: relative;
        @include flexCenter;
        @media (max-width: 991.98px) {
            flex-direction: column;
        }
        &__left{
            width: 60%;
            padding: 0 8rem 0 2rem;
            @media(max-width: 991.98px) {
                width: 100%;
                padding: 0;
            }
            h2{
                font-size: 3rem;
                font-weight: 700;
                color: $chocolate;
                @media (max-width: 575.98px) {
                    font-size: 2.5rem;
                }
            }
            p{
                font-size: 1rem;
                line-height: 1.5rem;
                padding: 2rem 0; 
            }
        }
        &__right{
            width: 40%;
            @media (max-width: 991.98px) {
                width: 100%;
                text-align: center;
            }
            img{
                width: 100%;
                height: auto;
                @media (max-width: 991.98px) {
                    width: 60%;
                }
            }
        }
    }
}

.newsletter{
    position: relative;
    padding: 4rem 0;
    overflow: hidden;
    &__content{
        position: relative;
        &__body{
            // position: relative;
            background-color: #FCF7F0;
            padding: 5rem 4rem;
            border-radius: 1.25rem;
            border-top-left-radius: 8.0625rem;
            overflow: hidden;
            @media (max-width: 575.98px) {
                padding: 5rem 2.5rem;
                border-radius: 1rem;
                border-top-left-radius: 4.5rem;
            }
            &::after{
                content: '';
                position: absolute;
                top: 6rem;
                left: 1rem;
                background-image: url('../img/ellipse-down.svg');
                @include bgCover;
                display: block;
                width: 24.875rem;
                height: 17.5rem;
                opacity: 0.09;
                @media(max-width: 991.98px) {
                    width: 16rem;
                    height: 14rem;
                    top: auto;
                    bottom: 0;
                    left: -2rem;
                }
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                background-image: url('../img/ellipse-up.svg');
                @include bgCover;
                display: block;
                width: 16.5rem;
                height: 21.97rem;
                opacity: 1;
            }
            h4{
                padding: 0 8rem;
                padding-bottom: 4rem;
                text-align: center;
                font-size: 2.0625rem;
                font-weight: 500;
                line-height: 2.75rem;
                @media(max-width: 991.98px) {
                    font-size: 1.25rem;
                    line-height: 1.55rem;
                    padding: 0;
                    padding-bottom: 2rem;
                }
            }
            p{
                font-size: 1rem;
                line-height: 1.5rem;
                padding: 2rem 0; 
            }
            &__form{
                position: relative;
                z-index: 1;
                @include flexCenter;
                @media (max-width: 575.98px) {
                    flex-direction: column;
                }
                button{
                    @include flexCenter;
                    padding: 0rem 3rem;
                    height: 4.25rem;
                    border-radius: 0.5rem;
                    background-color: $chocolate;
                    color: $white;
                    font-weight: 600;
                    &:hover{
                        background-color: $darkChocolate !important;
                    }
                }
                &__input{
                    position: relative;
                    width: 26.5rem;
                    margin-right: 2rem;
                    @media (max-width: 575.98px) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 1rem;
                    }
                    input{
                        padding: 0rem 2rem 0rem 4.5rem;
                        height: 4.25rem;
                        border-radius: 0.5rem;
                        font-size: 0.875rem;
                        border: none;
                        &::placeholder {
                            color: $black !important;
                            opacity: 1;
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 1.60rem;
                        left: 2rem;
                        background-image: url('../img/email-icon.svg');
                        @include bgCover;
                        display: block;
                        width: 1.3125rem;
                        height: 1.125rem;
                        z-index: 1;
                    }
                }
            }
        }
        &::before{
            content: '';
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            background-image: url('../img/send-icon.svg');
            @include bgCover;
            display: block;
            width: 4.375rem;
            height: 4.375rem;
            z-index: 1;
            @media (max-width: 575.98px) {
                width: 3rem;
                height: 3rem;
                top: -0.5rem;
                right: -0.5rem;
            }
        }
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 4.5rem;
        background-image: url('../img/plus-icons.svg');
        @include bgCover;
        display: block;
        width: 9.5625rem;
        height: 10.375rem;
        opacity: 1;
        z-index: -1;
        @media(max-width: 991.98px) {
            width: 4.5rem;
            height: 5rem;
            bottom: 1.75rem;
            right: 0.5rem;
        }
        @media (min-width: 992px) and (max-width: 1299.98px) {
            width: 6.5rem;
            height: 7rem;
            bottom: 1.5rem;
            right: 1.5rem;
        }
        @media (min-width: 1300px) and (max-width: 1531.98px){
            width: 6.5rem;
            height: 7rem;
            bottom: 1.5rem;
            right: 1.5rem;
        }        
    }
}